/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v7/HhyaU5sn9vOmLzloC_A.ttf) format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src: local('Dosis Medium'), local('Dosis-Medium'), url(https://fonts.gstatic.com/s/dosis/v7/HhyXU5sn9vOmLzGbKOCFMI4.ttf) format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 600;
  src: local('Dosis SemiBold'), local('Dosis-SemiBold'), url(https://fonts.gstatic.com/s/dosis/v7/HhyXU5sn9vOmLzG3L-CFMI4.ttf) format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 700;
  src: local('Dosis Bold'), local('Dosis-Bold'), url(https://fonts.gstatic.com/s/dosis/v7/HhyXU5sn9vOmLzHTLuCFMI4.ttf) format('truetype');
}
html {
  font-family: 'Dosis', sans-serif;
  font-size: 100%;
}
a {
  text-decoration: none;
  color: #FF7400;
  font-weight: 500;
}
a:visited,
a:active {
  text-decoration: none;
  color: #FF7400;
}
/* --- OUTER WRAPS --- */
.outer-wrap {
  background-color: #fff;
  clear: both;
}
.outer-wrap-header {
  background-color: #000;
}
.outer-wrap-main {
  min-height: 400px;
  margin: 0 0 10px;
}
.outer-wrap-footer {
  background-color: #000;
}
/* --- INNER WRAPS --- */
.inner-wrap {
  width: 60%;
  margin: 0 auto;
}
.inner-wrap-flash {
  width: 100%;
  border-bottom: 2px solid #ff7400;
  border-top: 2px solid #ff7400;
}
/* --- ROW --- */
.row {
  clear: both;
  padding: 0;
}
/* --- REGIONS --- */
.region-header {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.region-header-col-1 {
  display: none;
  float: left;
  width: 20%;
}
.region-header-col-2 {
  display: inline;
  width: 100%;
}
.region-header-col-3 {
  display: none;
}
.region-flash {
  width: 100%;
  height: 150px;
}
.region-flash {
  width: 100%;
  height: 150px;
}
.region-footer {
  background-color: #000;
  color: #fff;
}
/* --- NAVBAR --- */
.rm-desktop {
  width: 100%;
  list-style: none;
  margin: 10 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.rm-desktop li {
  display: inline;
}
.rm-navbar a,
.rm-navbar a:visited,
.rm-navbar a:active {
  color: #fff;
}
.inner-wrap-breadcrumb {
  text-align: left;
}
.region-breadcrumb ul {
  padding: 0;
}
.region-breadcrumb li {
  display: inline;
}
/* ---- MAIN CONTENT ---- */
.region-main.has-sidebar-left {
  width: 80%;
  margin: 0;
  float: right;
}
.region-sidebar-left {
  width: 20%;
  float: left;
}
.region-main.has-sidebar-right {
  width: 80%;
  margin: 0;
  float: left;
}
.region-sidebar-right {
  width: 20%;
  float: right;
}
article {
  clear: both;
  padding: 0 40px 0 0;
  text-align: justify;
}
.figure.right {
  float: right;
}
.next-previous {
  display: block;
  overflow: auto;
  margin: 0 0 15px;
}
.next {
  float: right;
}
.previous {
  float: left;
}
.toc {
  padding: 0;
  list-style: none;
}
/* ---- FOOTER ---- */
.footer-column-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.footer-column {
  width: 18%;
}
.site-footer {
  text-align: center;
}
.byLineTextBox {
  border: 1px solid #ff7400;
  border-radius: 4px;
  width: 40%;
  padding: 10px;
}
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/*

@bgColorHtml: #000;
@bgColorBody: #fff;
@colorBody: #333;
@fontFamilyBody: serif;

*/
html {
  margin: 0;
  padding: 0;
  height: auto;
}
body {
  margin: 0;
  padding: 0;
  height: auto;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/**
 * General layout
 */
/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
  display: none;
}
/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
  display: none;
}
.outer-wrap,
.inner-wrap,
.row,
.region-header {
  height: auto;
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 960px) {
  .inner-wrap-main {
    width: 95%;
  }
  .region-header-col-2 {
    display: none;
  }
  .region-header-col-3 {
    display: block;
  }
}
@media screen and (max-width: 740px) {
  .outer-wrap-breadcrumb {
    display: none;
  }
  .region-sidebar-left {
    float: none;
    clear: both;
    width: 100%;
  }
  .region-main.has-sidebar-left {
    float: none;
    clear: both;
    width: 100%;
  }
  .region-sidebar-right {
    float: none;
    clear: both;
    width: 100%;
  }
  .region-main.has-sidebar-right {
    float: none;
    clear: both;
    width: 100%;
  }
  article {
    padding: 0;
  }
  figure {
    float: none;
    display: none;
  }
  figure a {
    float: none;
    display: block;
  }
  .byLineTextBox {
    float: none;
    width: 100%;
  }
  .footer-column-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .footer-column {
    width: 75%;
    text-align: center;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
 * My own settings, not currently in their own module.
 */
